# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/My Project/node_modules
/My Project/.pnp
/My Project/.pnp.js

/My Projects/src/components
/My Projects/src/store
/My Projects/src/reducers
/node_modules




# testing
My Project/coverage

# production
My Project/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
